<p>
  <strong>Title: </strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>
<br>
<p><%= link_to 'Edit', edit_article_path(@article) %></p>
<br>
<p><%= link_to 'Home', articles_path %> | <%= link_to 'New Article', new_article_path %>

<h3>Comments</h3>
<%= render @article.comments %>

<h3>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> | <% link_to 'Back', articles_path %>